/* grid.component.scss */
@import '../styles.lib';

/* Keyframes for fadeInUp animation */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Styles for grid container */
.grid-container {
  @include grid-container-style;
}

/* Styles for the grid itself */
.grid {
  @include grid-style($number-of-squares-per-row, $grid-gap);
}
