@import '../styles.lib';

.square {
  width: 100%;
  box-sizing: border-box;
  overflow: auto;
  padding: $padding-default;
  font-size: $font-size-x-small;
  text-align: center;
  color: $neutral-color;
  background-color: $fourth-color;
  cursor: pointer;
  transition: $standard-transition;
  position: relative;

  &::before {
    content: '';
    display: block;
    padding-top: 100%;
  }

  .square-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    padding: $padding-small;
  }

  &:hover {
    transform: scale(1.1);
    transition: $standard-transition;
  }

  &::-webkit-scrollbar {
    width: $scrollbar-width;
    background: $scrollbar-thumb-background-color;
  }

  &::-webkit-scrollbar-thumb {
    background: $scrollbar-thumb-color;

    &:hover {
      background: $scrollbar-thumb-hover-color;
    }
  }

  &.title {
    background-color: $first-color;
    font-size: $font-size-small;
    transition: $standard-transition;
  }

  &.user-id, &.id {
    font-size: $font-size-large;
    transition: $standard-transition;
  }

  &.user-id {
    background-color: $second-color;
    color: $dark-color;
  }

  &.id {
    background-color: $third-color;
  }

  &.body {
    background-color: $fourth-color;
    font-size: $font-size-x-small;
    transition: $standard-transition;
  }
}
