@import '../styles.lib';

.square {
  font-size: $font-size-small;
  border: 0.5px solid $border-color;
  background-color: $fourth-color;
  padding: $padding-small;
  box-sizing: border-box;
  overflow: auto;

  @include square-dimensions;

  text-align: center;
  cursor: pointer;
  transition: $standard-transition;

  &:hover {
    transform: scale(1.1);
    transition: $standard-transition;
  }

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  &::-webkit-scrollbar-thumb {
    background: lightgray;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: darkgrey;
  }

  &.title {
    font-size: $font-size-small;
    transition: $standard-transition;
  }

  &.user-id {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: $font-size-large;
    color: $neutral-color;
    background-color: $first-color;
    transition: $standard-transition;
  }

  &.id {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: $font-size-large;
    color: $neutral-color;
    background-color: $second-color;
    transition: $standard-transition;
  }

  &.body {
    font-size: $font-size-x-small;
    color: $neutral-color;
    background-color: $third-color;
    transition: $standard-transition;
  }
}
