@import '../styles.lib';

.square {
  @include square-dimensions;
  box-sizing: border-box;
  padding: $padding-small;

  font-size: $font-size-x-small;
  text-align: center;
  color: $neutral-color;

  overflow: auto;
  cursor: pointer;
  transition: $standard-transition;

  &:hover {
    transform: scale(1.1);
    transition: $standard-transition;
  }

  &::-webkit-scrollbar {
    width: $scrollbar-width;
    background: $scrollbar-thumb-background-color;
  }

  &::-webkit-scrollbar-thumb {
    background: $scrollbar-thumb-color;

    &:hover {
      background: $scrollbar-thumb-hover-color;
    }
  }

  &.title {
    background-color: $first-color;
    font-size: $font-size-small;
    transition: $standard-transition;
  }

  &.user-id {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $second-color;
    color: $dark-color;
    font-size: $font-size-large;
    transition: $standard-transition;
  }

  &.id {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $third-color;
    font-size: $font-size-large;
    transition: $standard-transition;
  }

  &.body {
    background-color: $fourth-color;
    font-size: $font-size-x-small;
    transition: $standard-transition;
  }
}
