@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

// Fonts
$font-family: 'Poppins', sans-serif;

// Font sizes
$font-size-large: x-large;
$font-size-small: small;
$font-size-x-small: x-small;

// Color palette
$first-color: rgb(0, 110, 127);
$second-color: rgb(248, 203, 46);
$third-color: rgb(238, 80, 7);
$fourth-color: rgb(178, 39, 39);
$neutral-color: rgb(255, 255, 255);
$dark-color: rgb(36, 36, 36);
$scrollbar-thumb-color: darkgrey;
$scrollbar-thumb-background-color: #f1f1f1;
$scrollbar-thumb-hover-color: lightgrey;

// Spacing
$grid-gap: 1.25rem;
$margin-default: 2rem;
$padding-small: 0.25rem;
$padding-default: 1rem;
$number-of-squares-per-row: 10;

// Transitions & Animations
$standard-transition: 0.5s;
$scrollbar-width: 0.25rem;

// Mixins
@mixin grid-container-style {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

@mixin grid-style($columns, $gap) {
  display: grid;
  grid-gap: $gap;
  grid-template-columns: repeat(2, 1fr);
  padding: $padding-default;
  width: 100%;
  box-sizing: border-box;

  @media (min-width: 480px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: 540px) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media (min-width: 760px) {
    grid-template-columns: repeat(6, 1fr);
  }

  @media (min-width: 1100px) {
    grid-template-columns: repeat(8, 1fr);
  }

  @media (min-width: 1250px) {
    grid-template-columns: repeat($columns, 1fr);
  }
}

@mixin square-item-animation($name, $duration) {
  animation: $name $duration ease-out forwards;
  opacity: 0;
}
